<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <title>example</title>
    <style>
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        ::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            background: rgba(119, 129, 149, 0.8);
        }
        .container {
            width: 300px;
            padding: 20px;
        }
        .container label {
            font-weight: normal;
        }
    </style>
</head>
<body>
    <h1 align="center">@Vue Component - vc-dropdown</h1>
    <div class="text-center">下拉菜单组件，提供多种命令或功能的收纳</div>
    <a style="display: block" class="text-center" href="https://github.com/iwaimai-bi-fe/vc-dropdown">view on Github</a>
    <hr>

    <div id="app" class="container">

        <vc-dropdown
            v-if="useSlot"
            :label="label"
            :open="open"
        >
            <a class="dropdown-toggle dropdown-trigger" data-dropdown-trigger="vc-dropdown">
                <span>下拉菜单自定义</span>
                <span class="caret"></span>
            </a>
            <ul slot="dropdown-menu" class="dropdown-menu">
                <li @click="customClick(1)"><a>用户手机号</a></li>
                <li @click="customClick(2)"><a>用户ID</a></li>
            </ul>
        </vc-dropdown>

        <vc-dropdown
            v-if="!useSlot"
            :label="label"
            :open="open"
            :on-click="onClick"
        ></vc-dropdown>

        <div class="form-group">
            <label>配置组件的label</label>
            <input type="text" class="form-control" placeholder="label" :readOnly="useSlot" v-model="label">
        </div>

        <div class="form-group">
            <div>是否打开下拉菜单, 默认: false)</div>
            <label><input type="radio" :value="bools.true" name="open" v-model="open">是</label>
            <label><input type="radio" :value="bools.false" name="open" v-model="open">否</label>
        </div>

        <hr>

        <div class="form-group">
            <div>是否用自定义slot</div>
            <label><input type="radio" :value="bools.true" name="useSlot" v-model="useSlot">是</label>
            <label><input type="radio" :value="bools.false" name="useSlot" v-model="useSlot">否</label>
        </div>

    </div>
    <script src='../dist/example.js'></script>
</body>
</html>
